.ui-select-choices-group-label{
    font-weight: bold;
    color:black;
}
.ui-select-choices-row{
    padding-left: 10px;
}
.img_buttons{
    .active{
        border: 1px solid red;
    }
}
.params_small{
    width: 50px;
}
.params_small.form-control{
    //  margin-bottom: 5px;
}

@mixin placeholder($style){
    ::-webkit-input-placeholder {
        font-style: $style;
    }

    :-moz-placeholder { /* Firefox 18- */
        font-style: $style;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        font-style: $style;
    }

    :-ms-input-placeholder {  
        font-style: $style;
    }
}

@mixin select_def(){
    .item{
        select{
            outline: none;
            border-left: none;
            border-radius: 0px 5px 5px 0px;
            -moz-border-radius: 0px 5px 5px 0px;
            -webkit-border-radius: 0px 5px 5px 0px;
            &:focus{
                outline: none; 
            }
        }
    }
}

@mixin select() {
    .select{
        margin-bottom: 23px;
        .label{
            float: left;
            width: 85px;
            height: 34px;
            color:#d10000;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 5px 0px 0px 5px;
            -moz-border-radius: 5px 0px 0px 5px;
            -webkit-border-radius: 5px 0px 0px 5px;
            border: 1px solid #dfdfdf;
            padding: 8px;
            border-right: none;
            span{
                padding-left: 0px;
                border-right: 1px solid #d10000;
                width:75px;
                display: block;
            }
        }
        .item{
            width:335px;
            float: left;

            .ui-select-container{
                outline: none;
                box-shadow: none;
                background: none; 
            }
            .ui-select-match{
                outline: none;
                box-shadow: none;
                background: none; 
            }

            .form-control.ui-select-search.ng-pristine.ng-valid.ng-touched{
                outline: none;
                box-shadow: none;
                background: none;
            }

            input{
                border-left: none;
                outline: none;
                border-radius:0px;
                &:hover{
                    background: none;
                    outline: none;
                }
                &:focus{
                    outline: none;
                }
                &:active{
                    outline: none;
                }
            }
            /*                    span{
                                    outline: none;
                                    &:hover{
                                        outline: none;
                                        border: none;
                                        box-shadow: none;
                                        background: none;
                                    }
                                    &:focus{
                                        outline: none;
                                        border: none;
                                        box-shadow: none;
                                        background: none;
                                    }
                                    &:active{
                                        outline: none;
                                        border: none;
                                        box-shadow: none;
                                        background: none; 
                                    }
                                }*/
            .btn.btn-default.form-control.ui-select-toggle{
                border-left: none;
                border-radius: 0px 5px 5px 0px;
                -moz-border-radius: 0px 5px 5px 0px;
                -webkit-border-radius: 0px 5px 5px 0px;
                border: 1px solid #dfdfdf;
                border-left: none;
                outline: none;
                &:hover{
                    outline: none;
                    box-shadow: none;
                    background: none;
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                    background: none;
                }
                &:active{
                    outline: none;
                    box-shadow: none;
                    background: none; 
                }
            }
        }
    }
}

.sample-show-hide {
    padding:10px;
    border:1px solid black;
    background:white;
}

.choice_lamp {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.choice_lamp.ng-hide {
    opacity:0;
}
.params_area{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.params_area.ng-hide {
    opacity:0;
}
.reflections{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.reflections.ng-hide{
    opacity:0;
}

.params_light{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.params_light.ng-hide {
    opacity:0;
}
.result{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    &.ng-hide {
        opacity:0;
    }
}


/*
.hide-fade.ng-hide-add, .hide-fade.ng-hide-remove {

  -webkit-transition:all linear 1s;

  -moz-transition:all linear 1s;

  -o-transition:all linear 1s;

  transition:all linear 1s;

  display:block!important;

}

.hide-fade.ng-hide-add.ng-hide-add-active,

.hide-fade.ng-hide-remove {

  opacity:0;

}

.hide-fade.ng-hide-add,

.hide-fade.ng-hide-remove.ng-hide-remove-active {

  opacity:1;

}*/


.calculator{

    margin-bottom: 50px;
    .clear{
        clear: both;
    }
    @font-face {
        font-family: Calibri;
        src: url(fonts/CALIBRII_0.TTF); 
    }
    $width: 650px;
    width: $width;
    font-family: Calibri;
    $red:#f60000;
    .red{
        color:$red;
    }
    .title{
        font-family: Calibri;
        font-weight: bold;
        font-size: 22px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .steps{
        .head{
            font-family: Calibri;
            font-size:  14px;
            color:#171314;
            font-weight: bold;
            font-style:italic;
            border-bottom:1px solid #dadada;
            .complete{
                border-bottom:1px solid #d10000;
            }
        }
        .description{
            font-family: Calibri;
            font-size:  12px;
            font-style:italic; 
            td{
                padding-right: 20px;
            }
        }
    }

    .choice_lamp{
        @include  select_def();
        .image{
            height: 205px;
            width:205px;
            border:2px solid #e4e4e4;
            float: left;
            img{
                width: 200px;
                height: 200px;
            }
        }
        .select_groupe{
            width: $width - 205;
            float: left;
            padding-left: 25px;
            @include select;
        }
        .lamp{
            background: url('/images/lamp.png');
            width:20px;
            height: 21px;
            background-repeat: no-repeat;
            display: block;
            float: left;
            margin-top: 6px;
            margin-right: 20px;
        }
        .title{
            .text{
                font-weight: normal;
            }
        }
    }

    .params_area{
        .triangle{
            background: url('/images/triangle.png');
            background-repeat: no-repeat;
            width:25px;
            height: 25px;
            display: block;
            float: left;
            margin-top: 0px;
            margin-right: 20px;
        }
        .interactiv_block{
            margin-bottom: 40px;
            background: url('/images/params_room.jpg');
            height: 385px;
            .input_groupe{
                padding-right: 40px;
                padding-top: 35px;
                .input{
                    text-align: right;
                    &:first-child{
                        margin-bottom: 40px;
                        span{
                            background: url('/images/sv.png');
                            width: 21px;
                            height: 27px;
                            display: block;
                        }
                    }
                    &:nth-child(2){
                        .groupe{
                            width: 146px;
                        }
                        span{
                            background: url('/images/length.png');
                            width: 23px;
                            height: 19px;
                            display: block;
                        }
                        .right{
                            width: 107px;
                            input{
                                width: 112px;
                            }
                        }
                    }
                    &:nth-child(3){
                        .groupe{
                            width: 146px;
                        }
                        span{
                            background: url('/images/width.png');
                            width: 23px;
                            height: 22px;
                            display: block;
                        }
                        .right{
                            width: 107px;
                        }
                    }
                    &:nth-child(4){
                        .groupe{
                            width: 146px;
                        }
                        span{
                            background: url('/images/height.png');
                            width: 23px;
                            height: 22px;
                            display: block;
                        }
                        .right{
                            width: 107px;
                        }
                    }

                    .groupe{
                        /*                        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                                                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                                                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
                        width: 191px;
                        height: 36px;
                        float: right;
                        border-radius: 5px 5px 5px 5px;
                        -moz-border-radius: 5px 5px 5px 5px;
                        -webkit-border-radius: 5px 5px 5px 5px;
                        border: 1px solid #ddd;
                        overflow: hidden;
                    }

                    .left{
                        background: #fff;
                        float: left;
                        padding: 4px;
                        height: 100%;

                        .br{
                            padding-right: 5px;
                            border-right: 1px solid red;
                            height: 100%;
                        }
                    }
                    .right{
                        width: 154px;
                        float: left;  
                        height: 100%;
                        border: 0px solid #000000;
                        background: #fff;
                        padding: 2px;

                        input{
                            border: none;
                            outline: none;
                            padding: 5px;

                        }
                    }


                    margin-bottom: 18px;
                }
            }
            .absolute{

                .circle{
                    text-align: center;
                    width: 50px;
                    height: 50px;    
                    position: absolute;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border: 2px solid #000000;
                    &.active{
                        border: 2px solid #d10000;
                        color:#d10000;
                    }
                    padding-top: 13px;
                    padding-left: 4px;
                }
                .circle1{
                    @extend .circle;
                    margin-left: 300px;
                    margin-top: 20px;
                }
                .circle2{
                    @extend .circle;
                    margin-left: 220px;
                    margin-top: 160px;
                }
                .circle3{
                    @extend .circle;
                    margin-left: 80px;
                    margin-top: 265px;
                }
                .circle4{
                    @extend .circle;
                    margin-left: 325px;
                    margin-top: 260px;
                }

                .arrow1{
                    position: absolute;
                    margin-left: 285px;
                    width:7px;
                    height: 78px;
                    background: url('/images/arrow_1.png');
                    background-position: -7px 0px; 
                    &.active{
                        background-position: 0px 0px; 
                    }
                }
                .arrow2{
                    position: absolute;
                    margin-top: 114px;
                    margin-left: 202px;
                    width:7px;
                    height: 139px;
                    background: url('/images/arrow_2.png');
                    background-position: -7px 0px; 
                    &.active{
                        background-position: 0px 0px; 
                    }
                }
                .arrow3{
                    position: absolute;
                    margin-top: 282px;
                    margin-left: 15px;
                    width:188px;
                    height: 86px;
                    background: url('/images/arrow_3.png');
                    background-position: -188px 0px; 
                    &.active{
                        background-position: 0px 0px; 
                    }
                }
                .arrow4{
                    position: absolute;
                    margin-top: 282px;
                    margin-left: 210px;
                    width:316px;
                    height: 88px;
                    background: url('/images/arrow_4.png');
                    background-position: -316px 0px; 
                    &.active{
                        background-position: -1px 0px; 
                    }
                }

            }
        }


    }
    .reflections{
        .grafics{
            background: url('/images/grafics.png');
            background-repeat: no-repeat;
            width:20px;
            height: 18px;
            display: block;
            float: left;
            margin-top: 5px;
            margin-right: 20px;
        }

        .desc{
            color:#303030;
            padding-bottom: 22px;
            padding-left: 40px;
        }
        .title{
            padding-bottom: 18px;
        }
        .params_desc{
            padding-left: 40px;
            span{
                color:#d10000;
                width: 40px;
                display: inline-block;
            }
        }
        @include select_def;
        @include select;
        .select{
            width:350px;
            float:left;
            .label{
                width: 41px;
                span{
                    width: 32px;
                }
            }
            .item{
                width:305px;
            }
        }
        .help{
            float: right;
            button{
                background: #259d00;
                color:#fff;
                border: none;
                padding: 7px;
                border-radius: 5px 5px 5px 5px;
                -moz-border-radius: 5px 5px 5px 5px;
                -webkit-border-radius: 5px 5px 5px 5px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        .image_reflection{
            position: relative;
            display: block;
            background: url('/images/reflection.png');
            width: 16px;
            height: 16px;
        }

        table{
            th{
                background: #f8f8f8;
                border-top: 1px dashed #ddd;
            }
            td{
                border-top: 1px dashed #ddd;
                i{
                    color:#d10000;
                    font-size: 8px;
                    margin-right: 35px;
                }
                &:first-child{
                    font-style: italic;
                }
                &:last-child{
                    text-align: right;
                    span{
                        padding: 2px;
                        padding-left:  5px;
                        padding-right: 5px;
                        background:  #cacaca;
                        color:#fff;
                        border-radius: 5px 5px 5px 5px;
                        -moz-border-radius: 5px 5px 5px 5px;
                        -webkit-border-radius: 5px 5px 5px 5px;
                        &.active{
                            background: #259d00;
                        }
                    }
                }
            }
        }

        .user_params{
            text-align:right;
            padding-right: 10px;
            b{
                padding-right: 15px;
            }
            i{
                color:#d10000;
                font-size: 8px;
                margin-right: 15px; 
            }
            span{
                color:#d10000;
                border-radius: 5px 5px 5px 5px;
                -moz-border-radius: 5px 5px 5px 5px;
                -webkit-border-radius: 5px 5px 5px 5px;
                border: 1px solid #ddd;
                padding: 5px;
            }
        }
        margin-bottom: 35px;
    }
    .params_light{
        .ui-slider-horizontal .ui-slider-handle {
            top: -.28em;
        }
        .ui-slider-horizontal{
            height:  8px; 
            background: rgba(226,226,226,1);
            background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(0%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
            background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
            background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
            background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
            background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
        }
        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 1px solid #fff;
            background: #cb0000;
            outline: none;
            width: 14px;
            height: 14px;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        }


        .zorka{
            background: url('/images/zorka.png');
            background-repeat: no-repeat;
            width:24px;
            height: 24px;
            display: block;
            float: left;
            margin-top: 5px;
            margin-right: 20px;
        }
        .text{
            padding-right: 20px;
        }
        .gost{
            color:#ccc;
            background: none;
            font-size: 12px;
            font-weight: bold;
            border: none;
            &.active{
                background: #d10000; 
                color:#fff;
            }
        }
        .sliders_groupe{
            .slider{
                .label{
                    display: inline-block;
                }
                .slide{
                    width:300px;
                    display: inline-block;
                }
                .value{
                    width:47px;
                    display: inline-block;
                    border-radius: 10px 10px 10px 10px;
                    -moz-border-radius: 10px 10px 10px 10px;
                    -webkit-border-radius: 10px 10px 10px 10px;
                    border: 1px solid #d10000; 
                    padding: 10px;
                    margin-right: 20px;
                }
                margin-bottom: 35px;
            }
            .label{
                width: 230px;
                color:#d10000;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
    .result{
        margin-bottom: 40px;
        .diagr{
            background: url('/images/result.png');
            background-repeat: no-repeat;
            width:20px;
            height: 20px;
            display: block;
            float: left;
            margin-top: 5px;
            margin-right: 20px;
        }
        .block_table{
            background: #f3f3f3;
            padding-top: 30px;
            padding-right: 30px;
            padding-bottom: 30px;
            table{
                tr{
                    td{
                        padding-bottom: 0px;
                        padding-top: 20px;
                        border: none;
                        border-bottom: 1px solid #ddd;
                        &:first-child{
                            border: none;
                            padding-left: 0px;
                            span{
                                padding: 5px;
                                padding-left: 10px;
                                padding-right: 10px;
                                background: #d10000;
                                color:#fff;
                            }
                        }
                        &:last-child{
                            text-align: right;
                        }
                    }

                }
            }
        }

    }

    .buttons_block{
        .calculate{
            background: #259d00;
            padding-left: 20px;
            padding-right: 20px;
            color:#fff;
            border: none;
            height: 32px;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
        }
        i{
            margin-right: 10px;
        }
        button{
            margin-left: 2px;
        }
        .next{
            background: url(/images/bg_buttons.png);
            height: 32px;
            border: none;
            color:#fff;
            font-family: Calibri;
            padding-left: 20px;
            padding-right: 20px;
        }
        .return{
            background: url(/images/bg_return.png);
            height: 32px;
            border: none;
            color:#fff;
            font-family: Calibri;
            padding-left: 20px;
            padding-right: 20px;
        }
        .save{
            @extend .next;
        }
    }

}

.clear{
    clear:both;
}
#new_maket{
    .slider{

        padding-left: 20px; 
        .ui-slider-horizontal .ui-slider-handle {
            top: -.28em;
        }
        .ui-slider-horizontal{
            height:  8px; 
            background: rgba(226,226,226,1);
            background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(0%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
            background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
            background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
            background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
            background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
        }
        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 1px solid #fff;
            background: #cb0000;
            outline: none;
            width: 14px;
            height: 14px;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        }

        .label{
            display: inline-block;
        }
        .slide{
            width:290px;
            display: inline-block;
        }
        .value{
            width:47px;
            display: inline-block;
            border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 1px solid #d10000; 
            padding: 10px;
            margin-right: 20px;
        }
        margin-bottom: 35px;
    }
    .form-control{
        display: initial;
        padding: 2px;
        height: auto;
    }
    .big_block{
        width:50%;
        float: left;
        padding-right: 20px;
        .border-right{
            border-right: 2px solid #ddd;
            padding-right: 20px;
        }
    }
    .title{
        font-size: 20px;
        margin-bottom: 10px;
        span{
            &:first-child{
                padding-right: 15px;
            }
        }
        .help{
            margin-top: 3px;
        }
    }
    label{
        color:red;
        font-weight: normal;
    }
    .black{
        color:#000;
    }
    .block{
        padding: 5px;
        margin-bottom: 10px;
    }
    input[type="text"]{
        width:50px;
    }
    input[type="checkbox"]{
        cursor: pointer;
    }
    .typearea{
        width:150px;
    }
    .pollution_level{
        width: 388px;
        .form-control{
            width:100%;
        }
    }
    .border{
        border: 1px solid #ddd;
        padding: 5px;
        margin-bottom: 10px;
    }
    .mr{
        margin-right: 30px;
    }
    .inline{
        display: inline-block;
    }
    .power_lamp{
        margin-bottom: 10px;
    }
    .params{
        width: 50%;
        div{
            margin-bottom: 5px;
            &:first-child{
                //width: 150px;
            }
        }
        &.pull-right{
            div{
                text-align: right;
            }
        }
    }
    ul{
        li{

            input{
                margin-right: 5px;
            }
            label{
                color:#000;
                font-weight: bold;
                font-size: 11px;
                margin-right: 10px;
            } 
        }
    }
    .level_of_protection{
        margin-bottom: 10px;
    }
    .calculate{
        background: red;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        color:#fff;
        border:none;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
    }
    .table{
        th{
            font-size: 12px;
            background: #ddd;
        }
    }
    .pribor{
        @include select;
        .image{
            width: 100%;
            min-height: 300px;

        }
        .form-control{
            display: block;
            padding: 6px 12px;
            height: 34px;
        }
        .inline{
            .select{
                margin: 0px;
            }

            .item{
                width: 100px;
                margin-right: 14px;
                &.name{
                    width: 240px;
                    margin-right: 0px;
                }


                .form-control{
                    border-left: none; 
                    border-radius: 0px 5px 5px 0px;
                    -moz-border-radius: 0px 5px 5px 0px;
                    -webkit-border-radius: 0px 5px 5px 0px;
                    &:focus{
                        outline: none;
                    }
                }
                input{
                    width: 100%;
                    &:focus{
                        outline: none;
                    }
                }
                .ui-select-container{
                    width: 100px !important;
                    min-width:  100px !important;
                }
                .ui-select-choices{
                    min-width:  300px;
                }
            }

        }
    }
    .params_area{
        label{
            width:150px;
            display: inline-block;
        }
        input{
            margin-left: 10px;
            margin-right: 10px;
            //  display: inline-block;
        }
    }

    .help{
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 0px solid #000000;
        background: red;
        color:#fff;
        padding: 6px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-right: 6px;
        padding-left: 6px;
        cursor:help;
        font-size: 12px;
        display: block;
        font-weight: bold;

    }
    .factors{
        input{
            text-align: center;
        } 
    }
    .reflections{
        .select{
            width: 228px;
        }
        .content{
            height: 40px;
        }
    }
    .params_light{
        .head{
            label{
                width:220px;
                text-align: right;
                padding-right: 20px;
            }
            input{
                text-align: center;
                width: 100px;
            }
        }
        .r_groupe{
            width:220px;

            input{
                margin-right: 5px;
            }
        }
    }

}